/bin/
/run/
/build/
/config/
/crash-reports/
/eclipse/
/logs/
/CREDITS-fml.txt
/gradlew
/gradlew.bat
/LICENSE-new.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/ModpackInfo.json
/ModpackInfo.txt
/options.txt
/README.txt
/usernamecache.json
/saves/
/.classpath
/.gradle/
/.project
/.settings/
/eula.txt
/world/
/banned-ips.json
/banned-players.json
/server.properties
/usercache.json
/whitelist.json
/ops.json
/mods/
/dumps/
/asm/
/screenshots/
/scripts/
/minetweaker.log
/forge-1.10.2-12.18.2.2179-changelog.txt
/Paulscode IBXM Library License.txt
/Paulscode SoundSystem CodecIBXM License.txt
/*.launch
/forge-1.11.2-13.20.0.2206-changelog.txt
