/*
 * custom.css
 * ~~~~~~~~~~
 *
 * Custom css for Dynamic Surroundings documentation.
*/

span.underlined {
    text-decoration: underline;
}

span.sectiontitle {
	font-weight: bold;
	color: #3c3c3c;
}

span.question {
	font-weight: bold;
	color: #8B4513;
}